@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

/* Bootstrap trumps - START */
body { color:#333; font-family: 'Open Sans', 'sans-serif'; background-color: #e4e2e2; line-height:1.5em; }
/* Bootstrap trumps - END */

/* Layout - START */
.absoluteContainer { position:absolute; top:0; left:0; right:0; z-index: 20; }
	div.container .header { height:80px; background-color: #fff; }
	.branding h1.southElginFootball { float:left; margin:30px 0 0 0; font-size: 1em; }
	.branding h1 span {  }
	.branding h1 a.patriotHeader { display:block; text-indent:0; float:left; }
	.branding h1 img {  }
	.branding h1 a.patriotSubText { display:block; text-indent:0; font-size: .9em; line-height: 1.4em; color:#999; }
	.branding a.elvis { float:left; margin:15px 15px 0 0; }
	.membership div { clear:right; float:right; color:#999; font-size: .9em; }
	.membership a.usafootball { float:right; clear:right; margin-top: 5px; }
	.visible-lg-mod2 { display: none; }


div.carouselContainer { float:none; padding:0; margin-bottom: 0;}
.btn-primary { background-color: #ff6d02; border-color: #fdd29f; }
.btn-primary:hover { background-color: #e36101; border-color: #fdd29f; }
.carousel-indicators { bottom: 30px; }
.carousel-inner h2 { color:#fff; }
.carousel-caption { padding-bottom: 50px; }
.btn-sm { display: none; }

.ribbon { background-color: #9E0101; height:60px; top:465px; }
.ribbon .container { background-color: #c70202; }
.ribbon .container .row div { border-right:1px solid #ccc; height:50px; color:#fff; font-size:1.2em; font-weight:300; border:0; text-align: center; margin-top: 20px; line-height: 18px; }
.ribbon .row i { margin: 0px 15px 0 0; font-size: 1.5em; }


.content { margin-top:5px; background-color:#fff; }
	.content { padding-top:25px; }

a.facebookIcon { display: block; text-align: left; margin-bottom: 10px; }
i.fa-facebook-square { font-size: 2em; }
em.followUs { color:#999; font-size: .9em; font-style: italic; }

iframe { }
h2 { color: #00295b; }
.resource { background-color: #fff; }
.resource ul { list-style-type: none; padding-left:0; }
.fa-star { color:#B2D8D3; margin-right: 10px; font-size: .75em; vertical-align:middle;}
h3 { color:#B2D8D3; }

footer { text-align: center; margin-bottom: 20px; }

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin:20px 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Layout - END */


/* Media Queries - START */
@media (max-width: 480px) { 
  a.elvis img { position: relative; width:117px; height:56px; }
  .branding {padding-left:0;}
  .branding a.elvis { margin:15px 5px 0 0; }
  .branding h1 a.patriotHeader img { width:170px; height:13px; }

 }
@media (min-width: 768px) {
  .container { width: 750px; }
  iframe.fb_feed { display: none; }
}
@media (max-width: 767px) {
  .visible-lg-mod { display:none; }
  .membership { display: none; }
  .branding a.elvis { margin-right:5px; }
  .ribbon { height:45px; }
  .ribbon .container .row div { font-size: .9em; margin-top: 7px; }
  .ribbon .row i { display: block; margin-right: 0; }
  .absoluteContainer .container { padding: 0; }
  .contentBody { font-size: .9em; }
  .carousel-indicators { display: none; }
  .carousel-caption { padding-bottom: 0; }
  .carousel-caption h2 { font-size: 1.4em; }
  .btn-sm { display: inline-block; }
  .btn-lg { display: none; }
  .southElginFootball span { display: none; }
  iframe.fb_feed { display: none; }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .contentBody { width:80.333333%; font-size: 1em; }
  .visible-lg-mod { display:none; }
  .visible-lg-mod2 { display: inline; }
  iframe.fb_feed { display: block; }
}
@media (max-width: 991px) {
  .absoluteContainer { position:relative; }
  .visible-lg-mod { display:none; }
  .absoluteContainer .container { width:auto; }
  a.elvis img { position: relative; width:117px; height:56px; }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .contentBody { width: 83.33333333%; }
  .visible-lg-mod { display:inline; }
  .visible-lg-mod2 { display: none; }
}


/* Media Queries - END */